
@using PagedList.Mvc
@model  PagedList.IPagedList<ApiTax.Models.tb_send>
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            ClientID
        </th>
        <th>
            SendDate
        </th>
        <th>
            کاربر
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientID)  @Html.DisplayFor(modelItem => item.Client.tb_person.Fname) @Html.DisplayFor(modelItem => item.Client.tb_person.Lname) @Html.DisplayFor(modelItem => item.Client.tb_person.ComapnyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Fname)  @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>

                @Html.ActionLink("استعلام ارسال", "Index", "tb_check_send", new { send_id = item.SendId }, new { }) |
                @Html.ActionLink("لاگ ارسال", "Details", new { id = item.SendId })
            </td>
        </tr>
    }

</table>

<hr />

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>



